*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase Configuration (Keep private credentials out of GitHub)
app/google-services.json